.u-txt-left {
  text-align: left !important;
}

.u-txt-center {
  text-align: center !important;
}

.u-txt-right {
  text-align: right !important;
}

.u-m-top-s {
  margin-top: 1.5rem !important;
}

.u-m-top-m {
  margin-top: 3rem !important;

  @include respond(tab-port) {
    margin-top: 3rem !important;
  }
}

.u-m-top-b {
  margin-top: 7rem !important;

  @include respond(tab-port) {
    margin-top: 5rem !important;
  }
}

.u-m-bottom-s {
  margin-bottom: 1.5rem !important;
}

.u-m-bottom-m {
  margin-bottom: 3rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-m-bottom-b {
  margin-bottom: 7rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-px-s {
  padding: 0 1.5rem !important;
}

.u-py-s {
  padding: 1.5rem 0 !important;
}

.u-py-ss {
  padding: 1rem 0 !important;
}

.u-mx-ss {
  margin: 0 0.75rem !important;
}

.u-mx-s {
  margin: 0 1.5rem !important;
}

.u-my-s {
  margin: 1.5rem 0 !important;
}

.u-my-ss {
  padding: 1rem 0 !important;
}

.u-my-t {
  padding: 0.5rem 0 !important;
}

.u-mk-cursor-ptr {
  cursor: pointer;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

%cover {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  width: 1140px;
  padding: 0 15px 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  position: relative;
  min-width: 100px;
  padding: 2px 6px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: $base-secondary-color;
  color: $base-font-light;
  cursor: pointer;
}

.prof--sep {
  display: flex;
  border: 1px solid #555;
  min-height: 86vh;

  &--r {
    width: 100%;
  }
}

.orderstable {
  text-align: left;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  display: table;
  padding: 0 0 1rem 0;

  th {
    font-weight: bold;
    text-align: left;
  }

  td {
    font-weight: normal;
    -webkit-box-shadow: 0 2px 2px -2px #0e1119;
    -moz-box-shadow: 0 2px 2px -2px #0e1119;
    box-shadow: 0 2px 2px -2px #0e1119;
  }

  th,
  td {
    padding: 1rem;
  }

  tr:nth-child(odd) {
    background-color: #404040;
  }

  tr:nth-child(even) {
    background-color: #505050;
  }

  th {
    background-color: $base-secondary-color;
  }
}
