.order-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 2rem;

  .order-info,
  .order-summary {
    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.6rem;
    }
  }

  .order-info {
    margin: 0 6px;
  }

  .btn-set-delivered {
    display: block;
    margin: 0 auto;
    min-height: 50px;
    min-width: 150px;
  }
}
