.prod-details {
  .prod-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 150px;

    .prod-img-wrapper {
      height: 500px;

      .prod-img {
        max-height: 500px;
      }
    }

    .prod-opts-wrapper {
      height: 100%;

      .prod-info {
        max-height: 75%;

        &__item {
          margin-left: 1rem;

          button {
            display: block !important;
          }
        }
      }
    }
  }

  .user-reviews {
    max-width: 80%;
    margin: 1rem auto;
    text-align: left;

    li {
      padding: 5px;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }

    &__top {
      display: flex;
      justify-content: space-between;
    }
  }
}
