.form {
  position: relative;
  z-index: 1;
  background: $base-secondary-color;
  max-width: 360px;
  margin: 0 auto 30px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(70, 70, 70, 0.2),
    0 5px 5px 0 rgba(70, 70, 70, 0.24);

  input[type='text'],
  input[type='email'],
  input[type='number'],
  input[type='password'] {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
  }

  // input:focus {
  //   z-index: 100;
  // }

  textarea {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
  }

  button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: $btn-color-1;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    margin-top: 1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      background-color: #085e4d;
    }
  }

  .form__radio {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: #f2f2f2;
    // width: 100%;
    border: 0;
    margin: 5px 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    appearance: radio;
  }

  .form__checkbox {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: #f2f2f2;
    // width: 100%;
    border: 0;
    margin: 0px 5px;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    font-size: 14px;
    appearance: radio;
  }
}
