.orderinfo-items {
  .orderinfo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;

    &__imgwrapper {
      img {
        height: 80px;
      }
    }
  }
}
