$default-font-size: 1.6rem;
$font-size-14: 87.5%;
$font-size-12: 75%;
$font-size-10: 62.5%;
$font-size-9: 56.25;
$font-size-8: 50%;

// $base-primary-color: #333;
$base-primary-color: #1a1b22;
$base-secondary-color: #17171c;
$base-font-light: #e2e2e2;

$base-main-dark-bg: #06070d;
$base-main-green: #00d491;

$border-radius-size: 14px;
$btn-color: #222;
$btn-color-1: #212125;
$btn-color-1-hover: #085e4d;
